@charset "UTF-8";
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
body {
	background-image: url('../img/Wooden_BG.jpg');
}
.slider {
	z-index: -1;
	width: 689px;
	height: 454px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	top: 272px;
}
.slider img {
	width: 689px;
	height: 454px;
	display: none;
}
.container {
	min-width: 1047px;
	background-image: url('../img/home-page/home-page-no-bg-with-shadows.png');
	background-size: 1047px 768px;
	background-position: center;
	background-repeat: no-repeat;
	height: 768px;
}
.img-container {
	text-align: center;
}
.bg {
	height: 768px;
}
.link-container {
	text-align: center;
	position: relative;
	top: 250px;
	margin: 0 auto;
}
.home-link {
	display: inline-table;
	position: relative;
}
.home-link a:hover {
	color: #E8A427;
}
.home-link li {
	min-width: 180px;
	min-height: 24px;
}
.home-link a {
	text-decoration: none;
	font-family: lucida console;
	margin: 0 1.75em;
	color: #443206; /* brown */
}
.links ul {
	text-align: left;
	display: none;
	position: absolute;
	top: 100%;
	background: #EBEBEB;
}
.links ul li a {
	font-family: garamond;
}
.links ul a {
	font-size: 15px;
}
.links li:hover > ul {
	display: block;
}