@charset "UTF-8";
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
body {
	background-image: url('../img/Wooden_BG.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	min-width: 1047px;
	max-height: 768px;
	height: 100%;
}
.slider {
	z-index: -1;
	width: 689px;
	height: 454px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	top: 272px;
}
.slider img {
	width: 689px;
	height: 454px;
	display: none;
}
.container {
	min-width: 1047px;
	background-image: url('../img/home-page/home-page.png');
	background-size: auto auto;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 768px;
}
.img-container {
	text-align: center;
}
.link-container {
	text-align: center;
	position: relative;
	top: 248px;
	margin: 0 auto;
}
.home-link {
	display: inline;
	position: relative;
}
.home-link a:hover {
	color: #E8A427;
}
.home-link a {
	text-decoration: none;
	font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
	margin: 0 1.5em;
	color: #443206; /* brown */
}
.links li a {
	height: 2em;
	font-size: 20px;
}
.links ul {
	text-align: left;
	display: none;
	position: absolute;
	width: auto;
	top: 100%;
	left: 1.75em;
	background: #EBEBEB;
}
.links ul li {
	width: auto;
	padding: 0.25em 0.25em;
}
.links ul li a {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
.links ul a {
	margin: 0;
	display: block;
	height: auto;
	width: auto;
	font-size: 16.25px;
}
.links li:hover > ul {
	display: block;
}